[[server]]
#name = "test"
listen = 8080
host = "127.0.0.1"
root = "www"
index = "index.html"
client_max_body_size = 100000
allow_methods = ["GET", "POST", "DELETE"]
cgi_ext = [".py", ".cgi"]
cgi_path = "/cgi-bin"

[[server.error_page]]
400 = "www/errors/400.html"
403 = "www/errors/403.html"
404 = "www/errors/404.html"
405 = "www/errors/404.html"
409 = "www/errors/409.html"
413 = "www/errors/413.html"
415 = "www/errors/415.html"
501 = "www/errors/501.html"
502 = "www/errors/502.html"
504 = "www/errors/504.html"
505 = "www/errors/505.html"

[[server.location]]
uri = "/redirect-test/"
redirect = "https://sisyphos-berlin.net/"
#redirect = "/images/secret.png"
allow_methods = ["GET"]

[[server.location]]
uri = "/"
autoindex = true
allow_methods = ["GET", "POST", "DELETE"]
upload_dir = "www/uploads/"
is_cgi = false

[[server.location]]
uri = "/cgi-bin/"
path = "/cgi-bin/"
root = "/cgi-bin"
allow_methods = ["GET", "POST", "DELETE"]
#autoindex = true
is_cgi = true

[[server.location]]
uri = "/uploads/"
path = "/uploads/"
root = "www"
allow_methods = ["GET", "POST", "DELETE"]
content_type = ["text/plain", "text/html", "text/css", "text/javascript", "image/jpeg", "image/png"]
autoindex = true
is_cgi = false

[[server.location]]
uri = "/static/"
path = "/static/"
root = "www"
allow_methods = ["GET", "POST", "DELETE"]
#autoindex = true
#content_type = ["text/html", "text/css", "text/javascript", "image/jpeg", "image/png"]
#is_cgi = false
#index = "upload.html"

[[server.location]]
uri = "/images/"
path = "/images/"
root = "www"
autoindex = true
allow_methods = ["GET", "POST"]
content_type = ["text/html", "text/css", "text/javascript", "image/jpeg", "image/png"]


### Second server ###
[[server]]
#name = "server2"
listen = 8081
host = "127.0.0.1"
root = "www2"
index = "index.html"
autoindex = true
allow_methods = ["GET", "POST", "DELETE"]

[[server.error_page]]
404 = "www/errors/404.html"
405 = "www/errors/404.html"

[[server.location]]
uri = "/"
autoindex = true
allow_methods = ["GET", "POST", "DELETE"]
upload_dir = "www/uploads/"
is_cgi = false

[[server.location]]
uri = "/images/"
path = "/images/"
root = "www2"
#autoindex = false
allow_methods = ["GET", "POST"]
content_type = ["text/html", "text/css", "text/javascript", "image/jpeg", "image/png"]

