[[server]]
#name = "test"
listen =   8080
host =   "   127.0.0.1 "
root = "www"
index = "index.html"
client_max_body_size = 2000000a
allow_methods = ["GET", "POST", "DELETE"]
cgi_ext = [".py", ".cgi"]
cgi_path = "/cgi-bin"


[[server.error_page]]
404 = "www/errors/404.html"
405 = "www/errors/404.html"


[[server.location]]
path = "/"
autoindex = true
allow_methods = ["GET", "POST", "DELETE"]
upload_dir = "www/uploads/"
is_cgi = false

#
[[server.location]]
path = "/cgi-bin/"
root = "/cgi-bin"
allow_methods = ["GET", "POST", "DELETE"]
is_cgi = true


[[server.location]]
path = "/html"
index = "index.html"
allow_methods = ["GET"]

[[server.location]]
path = "/images"
root = "www"
allow_methods = ["GET", "POST", "DELETE"]
autoindex = true

[[server]]
name = "test1"
listen = 8614
host = "127.0.0.1"
root = "www"
index = "index.html"
error_page = "www/errors/404.html"
client_max_body_size = 2000000
cgi_ext = [".py", ".cgi"]
cgi_path = "/cgi-bin"

[[server.error_page]]
404 = "www/errors/404.html"


[[server.location]]
path = "/"
redirect = "/redirect_file.html"
allow_methods = ["GET", "POST"]
autoindex = false
# or this redirect = "https://www.google.com"

[[server.location]]
path = "/images/"
alias = "/img/"
allow_methods = ["GET", "POST"]

[[server.location]]
path = "/img"
redirect = "/redirect_file.html"
# or this redirect = "https://www.google.com"
allow_methods = ["GET", "POST"]
autoindex = false


[[server]]
#name = "test2"
listen = 8615
host = "0.0.0.1"
root = "www"
index = "index.html"
error_page = "www/errors/404.html"
client_max_body_size = 2000000

[[server.error_page]]
999 = "Error!"

[[server.location]]
path = "/"
autoindex = true
allow_methods = ["GET", "POST", "DELETE"]
upload_dir = "www/uploads/"

[[server.location]]
path = "/img"
autoindex = true
allow_methods = ["GET", "POST", "DELETE"]
upload_dir = "www/uploads/"

