[[server]]
#name = "test"
listen = 8001
host = "127.0.0.1"
root = "www"
index = "index.html"
error_page = "www/errors/404.html"
client_max_body_size = 2000000

[[server.location]]
path = "/"
autoindex = true
allow_methods = ["GET", "POST", "DELETE"]
upload_dir = "www/uploads/"
cgi = { extension = ".php", handler = "/usr/bin/php" }

[[server.location]]
path = "/html"
index = "index.html"
allow_methods = ["GET"]

[[server.location]]
path = "/images"
root = "www"
allow_methods = ["GET", "POST", "DELETE"]
autoindex = true

[[server]]
name = "test1"
listen = 8002
host = "127.0.0.1"
root = "www"
index = "index.html"
error_page = "www/errors/404.html"
client_max_body_size = 2000000

[[server.location]]
path = "/"
allow_methods = ["GET", "POST"]
autoindex = false
